*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #d9dbd5;
}

header{
  height: 15vh;
  min-height: 80px;
  max-height: 100px;
  background-color: #009688;
}

main{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60vw;
  min-width: 650px;
  max-width: 1150px;
  height: 95vh;
  min-height: 490px;
  max-height: 870px;
  margin: 0 auto;
  transform: translate(-50%,-50%);
  display: flex;
}


  /* LEFT COLUMN */
    .left-col{
      width: 40%;
      background-color: blue;
    }

    .heading{
      height: 50px;
      background-color: white;
      display: flex;
      align-items: center;
      padding: 10px;
    }

    .user{
      display: flex;
      align-items: center;
    }

    .user img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    .user-actions{
      flex-grow: 1;
      text-align: end;
    }

    .user-actions i{
      margin: 0 3px;
      color: #b1b1b1;
    }

    .notifications{
      height: 60px;
      background-color: #8edafc;
      display: flex;
      align-items: center;
      padding-left: 15px;
    }

    .notifications .circle{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      margin-right: 7px;
      flex-shrink: 0;
    }

    .notifications .circle i{
      color: #8edafc;
    }

    .notifications span{
      font-size: 14px;
    }

    .notifications a{
      text-decoration: none;
      color: #5f8da3;
      border-bottom: 1px solid #5f8da3;
      font-size: 13px;
    }
  /*  */

  /* RIGHT COLUMN */
    .right-col{
      flex-grow: 1;
      background-color: red;
    }
  /*  */