<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.css' integrity='sha512-1hsteeq9xTM5CX6NsXiJu3Y/g+tj+IIwtZMtTisemEv3hx+S9ngaW4nryrNcPM4xGzINcKbwUJtojslX2KG+DQ==' crossorigin='anonymous'/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

  <link rel="stylesheet" href="css/style.css">
  <title>Boolzapp</title>
</head>
<body>

  <div id="app">

    <header></header>
  
    <main>
  
      <div class="left-col">
  
        <!-- HEAD -->
        <div class="heading">
          <div class="user">
            <img src="img/avatar_io.jpg" alt="img user">
            <span class="username">Sofia</span>
          </div>
  
          <div class="user-actions">
            <i class="fa-solid fa-circle-notch"></i>
            <i class="fa-solid fa-message"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
        </div>
  
        <!-- NOTIFICATIONS -->
        <div class="notifications">
          <div class="circle">
            <i class="fa-solid fa-bell-slash"></i>
          </div>
  
          <div>
            <span>Ricevi notifiche di nuovi messaggi</span> <br>
            <a href="#">Attiva notifiche desktop</a>
          </div>
        </div>
  
        <!-- SEARCH -->
        <div class="search">
          <div class="search-icon">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
  
          <div class="start-search">
            <input v-model="searchChat" type="text" placeholder="Cerca o inizia una nuova chat" @keyup="chatQuery()">
          </div>
        </div>
  
        <!-- CHAT  - BLOCCO V-FOR PER LE CHAT-->
        <div class="chat-block">
          <div v-for="(user,index) in users" class="chat" :class="{'active' : selectedUser === index}" @click="selectedUser = index" v-show="user.visible">
            <div class="receiver-logo">
             <img :src="`img/avatar${user.avatar}.jpg`" :alt="user.name"> 
            </div>
            
            <div>
              <span class="username">{{user.name}}</span> <br>
              <span v-show="index === user.messages.length - 1" v-for="(text,index) in user.messages"  class="last-message">{{text.message}}</span>
            </div>
    
            <div class="receiver-msg-time">
              <span>12:00</span>
            </div>
          </div>

        </div>
  
      </div>
  
      <div class="right-col">

        <!-- HEAD -->
        <div class="heading">
          <div class="user">
            <div class="receiver-chat-logo">
              <img :src="`img/avatar${users[selectedUser].avatar}.jpg`" :alt="users[selectedUser].name">
            </div>

            <div>
              <span class="username">{{users[selectedUser].name}}</span> <br>
              <span class="last-access">Ultimo accesso oggi alle 12:00</span>
            </div>
          </div>
  
          <div class="user-actions">
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-paperclip"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
        </div>

        <!-- CHAT -->
        <div class="msg-in-chat-block">

          <div class="msg" :class="message.status === 'sent' ? 'sent' : 'received' " v-for="(message,index) in users[selectedUser].messages">
            <p>
              {{message.message}}
            </p>
            <span class="msg-time">15:30</span>
          </div>

        </div>

        <!-- CHAT IN BASSO -->
        <div class="down-chat">
          <div class="smile-icon">
            <i class="fa-regular fa-face-smile"></i>
          </div>

          <div class="text-field">
            <input v-model="messageToSend" type="text" placeholder="Scrivi un messaggio" @keyup.enter="sendMessage()">
          </div>

          <div class="smile-icon">
            <i class="fa-solid fa-microphone"></i>
          </div>
        </div>

      </div>
  
    </main>
  

  </div>
  
  <script src="js/script.js"></script>
</body>
</html>